<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">

    <style>
        .maxs {
    display: inline-block;
    width: 600px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
        </style>

</head>

<body>

    <nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item navbar-item is-size-5" href="/">
                    <strong> URL Shortener</strong>
                </a>

            </div>

            <div class="navbar-menu is-active">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-dark is-medium" href="https://github.com/Kasonz/url-shortener">
                                <span class="icon is-medium">
                                    <i class="fab fa-github"></i>
                                </span>
                            </a>
                            <a class="button is-medium">
                                <span class="icon is-medium">
                                    <i class="fab fa-medium-m"></i>
                                </span>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="hero is-bold is-info">
        <div class="hero-body">
            <div class="container">
                <div class="content">
                    <p>This is a sample project to demonstrate the URL Shortener.</a></p>

                </div>
            </div>
        </div>
    </section>

    <section class="hero is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">

                </h1>
                <h2 class="subtitle">
                    Enter something below, it can be the URL or just random string
                </h2>
                <div class="field">
                    <div class="control">
                        <input class="input" id="sourceInput" maxlength="100" type="text" placeholder="Enter something to genrate the shrotened URL">
                    </div>
                </div>
                <div class="field">
                    <p class="control">
                        <button id="shortenBtn" class="button is-primary">
                            Shorten Now
                        </button>
                    </p>
                </div>

            </div>
        </div>
    </section>
    <hr />
    <section class="hero" id="table">
        <div class="hero-body">
            <div class="container">
                <h2 class="title is-4">Recent 50 records</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Shortern URL </th>
                            <th>Source</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in results">
                            <td>
                                {{ item.shortenURL }}

                            </td>
                            <td class="maxs">
                                {{ item.source }}
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <footer class="footer">
            <div class="content has-text-centered">
              <p>
                <strong>URL-Shorterner</strong> by <a href="https://kasonz.com/">Kasonz</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. 
              </p>
            </div>
          </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>

</body>

</html>